<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.takizawamusume">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ytaki0801"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ytaki0801"
        android:supportsRtl="true"
        android:theme="@style/Theme.TakizawaMusume">
        <activity android:name=".Yoshikawa_decide_leader" />
        <activity android:name=".Doi_counter" />
        <activity android:name=".Senda_timer" />
        <activity android:name=".Senda_Hiphip" />
        <activity android:name=".Senda_Kakuritu" />
        <activity android:name=".Index">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>